# Pepa OS - GRUB boot menu configuration

set default="pepaos"
set timeout=15
set gfxmode=auto
set gfxpayload=keep

insmod all_video
insmod gfxterm
insmod gfxmenu
insmod png
insmod font

if loadfont /usr/share/grub/unicode.pf2; then
    set gfxmode=1024x768
    terminal_output gfxterm
fi

# Pepa OS color scheme
set menu_color_normal=cyan/dark-blue
set menu_color_highlight=white/blue

menuentry "Pepa OS - Live Session" --id pepaos {
    linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% quiet splash
    initrd /%INSTALL_DIR%/boot/initramfs-linux.img
}

menuentry "Pepa OS - Safe Mode (nomodeset)" --id pepaos-nomodeset {
    linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% nomodeset
    initrd /%INSTALL_DIR%/boot/initramfs-linux.img
}

menuentry "Pepa OS - Hardware Detection" --id pepaos-hwdetect {
    linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% hwdetect
    initrd /%INSTALL_DIR%/boot/initramfs-linux.img
}

menuentry "Run Memtest86+ (RAM Test)" --id memtest {
    linux /%INSTALL_DIR%/boot/memtest86+/memtest.bin
}

menuentry "Boot from first hard disk" --id hddboot {
    insmod chain
    insmod ntfs
    set root=(hd0)
    chainloader +1
}

submenu "Advanced Options" {
    menuentry "Pepa OS - Copy to RAM (more RAM required)" --id pepaos-copytoram {
        linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% copytoram
        initrd /%INSTALL_DIR%/boot/initramfs-linux.img
    }

    menuentry "Pepa OS - Debug Mode (verbose)" --id pepaos-debug {
        linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% debug
        initrd /%INSTALL_DIR%/boot/initramfs-linux.img
    }
}
