# Pepa OS - PXE boot configuration

UI menu.c32
PROMPT 0
MENU TITLE Pepa OS (PXE)
TIMEOUT 150
DEFAULT pepaos

LABEL pepaos
    MENU LABEL Pepa OS - Live Session (PXE)
    LINUX ../%INSTALL_DIR%/boot/vmlinuz-linux
    INITRD ../%INSTALL_DIR%/boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archiso_nfs_srv=${pxeserver}:/run/archiso/bootmnt archiso_http_srv=http://${pxeserver}/ archisobasedir=%INSTALL_DIR% quiet splash

LABEL pepaos-nomodeset
    MENU LABEL Pepa OS - Safe Mode (PXE)
    LINUX ../%INSTALL_DIR%/boot/vmlinuz-linux
    INITRD ../%INSTALL_DIR%/boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archiso_nfs_srv=${pxeserver}:/run/archiso/bootmnt archiso_http_srv=http://${pxeserver}/ archisobasedir=%INSTALL_DIR% nomodeset
