# Pepa OS - Syslinux bootloader configuration

UI menu.c32
PROMPT 0
MENU TITLE Pepa OS
MENU COLOR border       30;44   #00d4aa #0f1923
MENU COLOR title        1;36    #00d4aa #0f1923
MENU COLOR sel          7;37    #0f1923 #00d4aa
MENU COLOR unsel        37;44   #cdd6f4 #0f1923
MENU COLOR help         37;44   #6c7086 #0f1923
TIMEOUT 150
DEFAULT pepaos

LABEL pepaos
    MENU LABEL Pepa OS - Live Session
    LINUX ../%INSTALL_DIR%/boot/vmlinuz-linux
    INITRD ../%INSTALL_DIR%/boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% quiet splash

LABEL pepaos-nomodeset
    MENU LABEL Pepa OS - Safe Mode (nomodeset)
    LINUX ../%INSTALL_DIR%/boot/vmlinuz-linux
    INITRD ../%INSTALL_DIR%/boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% nomodeset

LABEL pepaos-hwdetect
    MENU LABEL Pepa OS - Hardware Detection
    LINUX ../%INSTALL_DIR%/boot/vmlinuz-linux
    INITRD ../%INSTALL_DIR%/boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LBL% hwdetect

LABEL hddboot
    MENU LABEL Boot from first hard disk
    COM32 chain.c32
    APPEND hd0

LABEL memtest
    MENU LABEL Run Memtest86+ (RAM Test)
    LINUX ../%INSTALL_DIR%/boot/memtest86+/memtest.bin
